extends layout

block content
  
  h1=category.name
  if category_items.length
    p #[em Delete following items before deleting this category:]
    ul
      for item in category_items
        li
          a(href=item.url) #{item.name}
  
  else
    form.form-group(method='post')
      label(for='code') Enter admin code:
      input#code.form-control(type='password' required name='code')
      button.btn.btn-primary(type='submit') Delete
