extends layout

block content
  h1= title
  p= description
  div.categories
    for category in categories_list
      div.category
        a(href=`/catalog/category/${category._id}`) #[strong #{category.name}]


