extends layout
block content
  h1= item.name
  form.form-group(method='post')
      label(for='code') Enter admin code:
      input#code.form-control(type='password' required name='code')
      button.btn.btn-primary(type='submit') Delete