body {
  padding: 50px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  /* letter-spacing: 2; */
}

.sidebar {
  width: fit-content;
  margin: 0 50px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul > * {
  margin: 20px 0;
}

.categories {
  margin: 50px;
  display: flex;
  gap: 30px;
}

.category {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(45, 46, 49);
  border-radius: 10px;
  font-size: 32px;
  color: antiquewhite;
  text-align: center;
}

h1 {
  font-weight: 700;
}

.form-group > * {
  margin-bottom: 15px;
}

li.error-list {
  color: red;
}
